.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.boxChart{
  width: 45%;
  margin-bottom: 30px;
}

.chart{
  background-color: #f7f7f7;
  padding: 20px;
}





